@import '../../styles/variables.scss';

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px 10px;

  background-color: $background_color;
  box-shadow: 0 2px 4px 0 #cccbca;

  .menuIcon {
    span svg {
      height: 30px;
      width: 30px;
    }
  }

  .headerLogo {
    margin: 0 auto;

    img {
      height: 90%;
      width: auto;
    }
  }
}

.menuLogo {
  width: 100%;
  height: 100%;
  max-height: 25px;
  text-align: center;

  img {
    height: max-content;
    // width: auto;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    padding: 10px 10%;

    .headerLogo {
      margin: 0;
    }

    .menu {
      margin: 0 auto;

      ul li span {
        color: $sissa_red;
        font-weight: bold;
      }
    }
  }
}
