@import '../../styles/variables.scss';

.container {
  min-height: 10vh;
  background-color: $background_color;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 55px 10px;

    div {
      flex: 1;
    }
  }

  section:nth-of-type(1) {
    div {
      display: flex;
      align-items: center;
    }

    div:nth-child(1) {
      //   justify-content: start;
      justify-content: space-between;

      a {
        color: $sissa_red;
        font-size: 2rem;
        margin-right: 20px;
      }

      .icon {
        color: $sissa_red;
        font-size: 1.5rem;
      }
    }

    div:nth-child(2) {
      justify-content: end;
      margin-top: 20px;
      img {
        height: 90%;
      }
    }
  }

  .divider {
    height: 20px;
    background-color: $sissa_red;
  }

  section:nth-of-type(2) {
    text-align: center;

    a,
    span {
      color: $sissa_gray;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    section {
      flex-direction: row;
      padding: 55px 10%;
    }

    section:nth-of-type(1) {
      div {
        display: flex;
        align-items: center;
      }

      div:nth-of-type(1) {
        justify-content: start;
      }
      
    }

    section:nth-of-type(2) {
      text-align: left;

      div:nth-of-type(2) {
        justify-content: end;
        text-align: right;
      }
    }
  }
}
